body {
  padding: 0 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table{
  border-spacing: 0;
  width: 100%;
}
thead {
  text-align: left;
}
thead tr {
  background-color: #00B7FF;
  color: white;
}
thead tr th{
  padding-right: 8px;
}

.rowOdd{
  background-color: lightgray;
  color: white;
}
.rowEven{
  background-color: antiquewhite;
}
.rowClickable{
  color: green;
  cursor: pointer;
}

.rowIcon{
  width: 1px;
  text-align: center;
}

.container{
  display: table;
  max-width: 512px;
  /*padding: 0 0;*/
  width: 98%;
  border-radius: 1em;
  padding: 1em;
  left: 50%;
  margin-right: -50%;
  transform: translate(0, 0)
}


.hidden{
  display: none;
}

.modalWindow{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalWindowContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.spanLabel{
  font-size: large;
  display: table-cell;
  width: 1px;
  white-space:nowrap;
  vertical-align: bottom;
  padding: 0 0 0 5px;
}

.spanInput{
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
}

